.album-container{
    background-color: #191013;
    width: 90%;
    border: black 1px solid;
    border-radius: 50px;
    padding: 1em 2em 2em 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    color: #d4cdc5;
}

h1{
    font-size: 3em;
}

#nome{
    font-size: 4em;
}

.album-informacoes{
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 2em;
}

.album-informacoes a{
    border-radius: 30px;
    width: 50%;
}
.album-informacoes img{
    border-radius: 30px;
    border: solid 1px black;
    width: 100%;
}

.artistas{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 10px;
}

.artistas div{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2em;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}



.artista-pag{
    padding: 10px 10px 10px 10px;
    background-color: #191013;
    border-radius: 15px;
    color: #d4cdc5;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    gap: 5px;
}

.artista-pag p{
    margin: 0;
    font-size: 1.5em;
}

.artista-pag:hover{
    background-color: #2c1f1a;
}

.artista-pag img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: solid 1px black;
}

.album-infos{
    display: flex;
    flex-direction: column;
    margin-top: 1em;
    text-align: left;
    width: 40%;
    gap: 1em ;
    font-size: 1.2em;
}

.album-infos div{
    display: flex;
    flex-direction: column;
    gap: .5em;
    font-size: 1.3em;
}

.tracklist{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin-top: 20px;
    gap: .5em;
}

.faixa{
    width: 100%;
    padding: 10px 20px 10px 20px;
    display: flex;
    flex-direction: column;
    font-size: 1.5em;
    transition: .2s;
    border-radius: 15px;
}

.faixa a{
    text-decoration: none;
    color: #d4cdc5;
    width: fit-content;
    
}


.artistas-faixa{
    display: flex;
    flex-direction: row;
    width: fit-content;
    align-items: center;
}
.artistas-faixa a{
    font-size: 15px;
}

.faixa a:hover{
    text-decoration: underline;    
}

.faixa:hover{
    background-color: #d4cdc5;    
    
    transition: .2s;
    color: #191013;
    & a{
        color: #191013;
        transition: .2s;
    }
}

@media screen and (max-width: 768px) {
    
    .album-infos{
        width: 90%;
        font-size: 1.1em;
    }

    .album-container {
        width: 100%;
        border: none;
        border-radius: 0;
        padding: 1em 0 2em 0;
    }

    .faixa{
        width: 90%;
    }

    .album-informacoes {
        flex-direction: column;
        align-items: center;

        & a {
            width: 90%;
        }
    }
    h1{
        width: 90%;
    }
    #nome{
        font-size: 3em;
    }
    .artista-pag{
        padding: 0 0 0 0;
    }
}